@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


.navBar{
    color:slategrey;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    float:right
}

