h2{
  padding: 20px;
  text-align: center;
  opacity: .97;
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  text-align: center;
  background:transparent;
  color: white;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 75%; */
    margin: 1%;
    font-family: serif;
    font-size: 1.25em;
    /* letter-spacing:1px; */
    font-weight: bold;
}

body{
  background: url('https://images.contentful.com/e43mbx7oxv8s/dTeQVZbR72uiYkEAYKyUS/bd3825a93aace2c7b368a7a742b1000f/000122_ZV_SCSW_HeroImages_1900x1024_D1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
}

.orangeBkg { 
  background-color: rgb(241, 165, 66);
  opacity: 90%; 
}

.contactInfo{
  color:white;font-size: x-large;
}

.send-form{
  font-size: larger;
font-family: 'Times New Roman', Times, serif;

}

.scrollBox{
  overflow: auto;
  height: 100rem;

}

.cardStyle{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding: 5px;
}

.card{
  opacity: .97;
  background-color: rgb(230, 230, 230);
}

.success {
  color: #0ff40f;
}

.error {
  color: #960303;
}

li {
  list-style: none;
  text-align:center;
}