h2{
    padding: 20px;
  text-align: center;
  opacity: .97;
  background-color: transparent;
  color: grey;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  text-align: center;
  background:transparent;
  color: grey;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    text-align: center;
    margin: 1%;
    font-family: serif;
    font-size: 1.25em;
    font-weight: bold;
}

body{
  background: url('https://images.contentful.com/e43mbx7oxv8s/dTeQVZbR72uiYkEAYKyUS/bd3825a93aace2c7b368a7a742b1000f/000122_ZV_SCSW_HeroImages_1900x1024_D1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
}

.alert-fixed {
  position:fixed; 
  top: 0px; 
  left: 0px; 
  width: 100%;
  z-index:9999; 
  border-radius:0px
}

.contact-jumbotron {
  background-color: rgb(244,101,36);
  opacity: .95;
  margin: 5%;
  border-radius: 25px;
}

.home-jumbotron {
  background-color: rgb(244,101,36);
  opacity: .95;
  border-radius: 25px; 
  margin-top: 3%;
}

.home-body {
  color: honeydew;
  font-size: large; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pet-list-text {
  color: white; 
  text-align: center;
}

.pet-list-card {
  background-color: rgb(244,101,36); 
  opacity: .95; 
  width: 100%; 
  margin-bottom: 5%;
  color: white;
  text-align: center;
  border-radius: 25px;
}

.headline {
  background-color: rgb(244,101,36);
  color: white;
}

.orange-text {
  color: rgb(244,101,36);
}

.contactInfo{
  color:white;
  font-size: x-large;
}

.send-form{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.scrollBox{
  overflow: auto;
  height: 100rem;
}

.cardStyle{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  padding: 5px;
}

.success {
  color: #0ff40f;
}

.error {
  color: #960303;
}

.user-image {
  width: 75%;
  height: auto;
}