h1{
  padding: 30px;
  text-align: center;
  background:transparent;
  color: grey;
  background-color: rgb(236, 236, 235);
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}