.d-block w-100{
    height:100px;
    width: 100px;
}

.title{
<<<<<<< HEAD
    color: white;
}

.Carousel{
    height: 1600px;
    width: 800px;
}

=======
    color: rgb(245, 102, 7);
}

.title2{
    color: rgb(124, 34, 160);
}

.slideStyle{
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}
>>>>>>> 2216039021f5db4f41542e67b82a823454d7fc5e
